/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/photos/*
!/storage/photos/shares
!/storage/photos/map-assets
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
additions.txt
