.dashboard-wrapper{
    padding: 10px 100px;
    .map-container{
        max-width: 1300px;
    }
}

.main.wrapper.sidebar-active{
    .dashboard-wrapper{
        padding: 10px 0;
        .map-container{
            max-width: 1000px;
        }
    }
}