#location-index{
    .map-container{
        width: 95%; 
        height: 80vh;
        
        margin:0 auto;
        border:5px #FFF solid;
        box-shadow: 0px 0px 5px #000;

        position: relative;
    }

    .row.map-row{
        margin-bottom: 25px;
    }
    .row.location-buttons{
        margin-bottom: 10px;
    }

    .row .button-right .btn{
        float: right;
    }
}
